<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MobileGestalt Test</key>
	<dict>
		<key>Property Test</key>
		<array>
			<dict>
				<key>Type</key>
				<string>Presence</string>
				<key>Property</key>
				<string>kMGQSpeakerCalibrationMiGa</string>
			</dict>
			<dict>
				<key>Type</key>
				<string>Presence</string>
				<key>Property</key>
				<string>kMGQSpeakerCalibrationSpGa</string>
			</dict>
			<dict>
				<key>Type</key>
				<string>Presence</string>
				<key>Property</key>
				<string>kMGQSpeakerCalibrationSpTS</string>
			</dict>
			<dict>
				<key>Type</key>
				<string>BOOL</string>
				<key>Property</key>
				<string>kMGQDeviceSupportsClosedLoopHaptics</string>
				<key>Value</key>
				<true/>
			</dict>
			<dict>
				<key>Type</key>
				<string>Number</string>
				<key>Property</key>
				<string>kMGQMicrophoneCount</string>
				<key>Value</key>
				<integer>4</integer>
			</dict>
			<dict>
				<key>Type</key>
				<string>BOOL</string>
				<key>Property</key>
				<string>kMGQDeviceSupportsAlwaysListening</string>
				<key>Value</key>
				<true/>
			</dict>
			<dict>
				<key>Type</key>
				<string>BOOL</string>
				<key>Property</key>
				<string>kMGQDeviceSupports3rdPartyHaptics</string>
				<key>Value</key>
				<true/>
			</dict>
		</array>
	</dict>
	<key>AOPNode Test</key>
	<dict>
		<key>AOPUID</key>
		<string>AOP Audio-1</string>
		<key>Enumeration Test</key>
		<array>
			<dict>
				<key>Client Identifier</key>
				<string>apac</string>
				<key>Nodes</key>
				<array>
					<dict>
						<key>Identifier</key>
						<string>mck1</string>
						<key>Property Values</key>
						<array>
							<dict>
								<key>Type</key>
								<string>4char</string>
								<key>Property</key>
								<string>kType</string>
								<key>Value</key>
								<string>mcan</string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>Identifier</key>
						<string>btm </string>
						<key>Property Values</key>
						<array>
							<dict>
								<key>Type</key>
								<string>4char</string>
								<key>Property</key>
								<string>kType</string>
								<key>Value</key>
								<string>amp </string>
							</dict>
						</array>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Client Identifier</key>
				<string>aph </string>
				<key>Nodes</key>
				<array>
					<dict>
						<key>Identifier</key>
						<string>hpdt</string>
						<key>Property Values</key>
						<array>
							<dict>
								<key>Type</key>
								<string>4char</string>
								<key>Property</key>
								<string>kType</string>
								<key>Value</key>
								<string>lpth</string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>Identifier</key>
						<string>mck1</string>
						<key>Property Values</key>
						<array>
							<dict>
								<key>Type</key>
								<string>4char</string>
								<key>Property</key>
								<string>kType</string>
								<key>Value</key>
								<string>mcan</string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>Identifier</key>
						<string>mck0</string>
						<key>Property Values</key>
						<array>
							<dict>
								<key>Type</key>
								<string>4char</string>
								<key>Property</key>
								<string>kType</string>
								<key>Value</key>
								<string>mcan</string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>Identifier</key>
						<string>leap</string>
						<key>Property Values</key>
						<array>
							<dict>
								<key>Type</key>
								<string>4char</string>
								<key>Property</key>
								<string>kType</string>
								<key>Value</key>
								<string>leap</string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>Identifier</key>
						<string>shim</string>
						<key>Property Values</key>
						<array>
							<dict>
								<key>Type</key>
								<string>4char</string>
								<key>Property</key>
								<string>kType</string>
								<key>Value</key>
								<string>shim</string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>Identifier</key>
						<string>mca1</string>
						<key>Property Values</key>
						<array>
							<dict>
								<key>Type</key>
								<string>4char</string>
								<key>Property</key>
								<string>kType</string>
								<key>Value</key>
								<string>mcan</string>
							</dict>
						</array>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Client Identifier</key>
				<string>aphc</string>
				<key>Nodes</key>
				<array>
					<dict>
						<key>Identifier</key>
						<string>mck1</string>
						<key>Property Values</key>
						<array>
							<dict>
								<key>Type</key>
								<string>4char</string>
								<key>Property</key>
								<string>kType</string>
								<key>Value</key>
								<string>mcan</string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>Identifier</key>
						<string>mck0</string>
						<key>Property Values</key>
						<array>
							<dict>
								<key>Type</key>
								<string>4char</string>
								<key>Property</key>
								<string>kType</string>
								<key>Value</key>
								<string>mcan</string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>Identifier</key>
						<string>sknt</string>
						<key>Property Values</key>
						<array>
							<dict>
								<key>Type</key>
								<string>4char</string>
								<key>Property</key>
								<string>kType</string>
								<key>Value</key>
								<string>hall</string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>Identifier</key>
						<string>arc </string>
						<key>Property Values</key>
						<array>
							<dict>
								<key>Type</key>
								<string>4char</string>
								<key>Property</key>
								<string>kType</string>
								<key>Value</key>
								<string>amp </string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>Identifier</key>
						<string>hptc</string>
						<key>Property Values</key>
						<array>
							<dict>
								<key>Type</key>
								<string>4char</string>
								<key>Property</key>
								<string>kType</string>
								<key>Value</key>
								<string>lpth</string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>Identifier</key>
						<string>leap</string>
						<key>Property Values</key>
						<array>
							<dict>
								<key>Type</key>
								<string>4char</string>
								<key>Property</key>
								<string>kType</string>
								<key>Value</key>
								<string>leap</string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>Identifier</key>
						<string>shim</string>
						<key>Property Values</key>
						<array>
							<dict>
								<key>Type</key>
								<string>4char</string>
								<key>Property</key>
								<string>kType</string>
								<key>Value</key>
								<string>shim</string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>Identifier</key>
						<string>mca1</string>
						<key>Property Values</key>
						<array>
							<dict>
								<key>Type</key>
								<string>4char</string>
								<key>Property</key>
								<string>kType</string>
								<key>Value</key>
								<string>mcan</string>
							</dict>
						</array>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Client Identifier</key>
				<string>aphd</string>
				<key>Nodes</key>
				<array>
					<dict>
						<key>Identifier</key>
						<string>hddt</string>
						<key>Property Values</key>
						<array>
							<dict>
								<key>Type</key>
								<string>4char</string>
								<key>Property</key>
								<string>kType</string>
								<key>Value</key>
								<string>lpth</string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>Identifier</key>
						<string>mck1</string>
						<key>Property Values</key>
						<array>
							<dict>
								<key>Type</key>
								<string>4char</string>
								<key>Property</key>
								<string>kType</string>
								<key>Value</key>
								<string>mcan</string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>Identifier</key>
						<string>mck0</string>
						<key>Property Values</key>
						<array>
							<dict>
								<key>Type</key>
								<string>4char</string>
								<key>Property</key>
								<string>kType</string>
								<key>Value</key>
								<string>mcan</string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>Identifier</key>
						<string>leap</string>
						<key>Property Values</key>
						<array>
							<dict>
								<key>Type</key>
								<string>4char</string>
								<key>Property</key>
								<string>kType</string>
								<key>Value</key>
								<string>leap</string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>Identifier</key>
						<string>shim</string>
						<key>Property Values</key>
						<array>
							<dict>
								<key>Type</key>
								<string>4char</string>
								<key>Property</key>
								<string>kType</string>
								<key>Value</key>
								<string>shim</string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>Identifier</key>
						<string>mca1</string>
						<key>Property Values</key>
						<array>
							<dict>
								<key>Type</key>
								<string>4char</string>
								<key>Property</key>
								<string>kType</string>
								<key>Value</key>
								<string>mcan</string>
							</dict>
						</array>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Client Identifier</key>
				<string>ahdc</string>
				<key>Nodes</key>
				<array>
					<dict>
						<key>Identifier</key>
						<string>mck1</string>
						<key>Property Values</key>
						<array>
							<dict>
								<key>Type</key>
								<string>4char</string>
								<key>Property</key>
								<string>kType</string>
								<key>Value</key>
								<string>mcan</string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>Identifier</key>
						<string>mck0</string>
						<key>Property Values</key>
						<array>
							<dict>
								<key>Type</key>
								<string>4char</string>
								<key>Property</key>
								<string>kType</string>
								<key>Value</key>
								<string>mcan</string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>Identifier</key>
						<string>leap</string>
						<key>Property Values</key>
						<array>
							<dict>
								<key>Type</key>
								<string>4char</string>
								<key>Property</key>
								<string>kType</string>
								<key>Value</key>
								<string>leap</string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>Identifier</key>
						<string>shim</string>
						<key>Property Values</key>
						<array>
							<dict>
								<key>Type</key>
								<string>4char</string>
								<key>Property</key>
								<string>kType</string>
								<key>Value</key>
								<string>shim</string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>Identifier</key>
						<string>mca1</string>
						<key>Property Values</key>
						<array>
							<dict>
								<key>Type</key>
								<string>4char</string>
								<key>Property</key>
								<string>kType</string>
								<key>Value</key>
								<string>mcan</string>
							</dict>
						</array>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Client Identifier</key>
				<string>prkC</string>
				<key>Nodes</key>
				<array>
					<dict>
						<key>Identifier</key>
						<string>mck1</string>
						<key>Property Values</key>
						<array>
							<dict>
								<key>Type</key>
								<string>4char</string>
								<key>Property</key>
								<string>kType</string>
								<key>Value</key>
								<string>mcan</string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>Identifier</key>
						<string>mck0</string>
						<key>Property Values</key>
						<array>
							<dict>
								<key>Type</key>
								<string>4char</string>
								<key>Property</key>
								<string>kType</string>
								<key>Value</key>
								<string>mcan</string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>Identifier</key>
						<string>sknt</string>
						<key>Property Values</key>
						<array>
							<dict>
								<key>Type</key>
								<string>4char</string>
								<key>Property</key>
								<string>kType</string>
								<key>Value</key>
								<string>hall</string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>Identifier</key>
						<string>arc </string>
						<key>Property Values</key>
						<array>
							<dict>
								<key>Type</key>
								<string>4char</string>
								<key>Property</key>
								<string>kType</string>
								<key>Value</key>
								<string>amp </string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>Identifier</key>
						<string>hptc</string>
						<key>Property Values</key>
						<array>
							<dict>
								<key>Type</key>
								<string>4char</string>
								<key>Property</key>
								<string>kType</string>
								<key>Value</key>
								<string>lpth</string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>Identifier</key>
						<string>leap</string>
						<key>Property Values</key>
						<array>
							<dict>
								<key>Type</key>
								<string>4char</string>
								<key>Property</key>
								<string>kType</string>
								<key>Value</key>
								<string>leap</string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>Identifier</key>
						<string>shim</string>
						<key>Property Values</key>
						<array>
							<dict>
								<key>Type</key>
								<string>4char</string>
								<key>Property</key>
								<string>kType</string>
								<key>Value</key>
								<string>shim</string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>Identifier</key>
						<string>mca1</string>
						<key>Property Values</key>
						<array>
							<dict>
								<key>Type</key>
								<string>4char</string>
								<key>Property</key>
								<string>kType</string>
								<key>Value</key>
								<string>mcan</string>
							</dict>
						</array>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Client Identifier</key>
				<string>lpai</string>
				<key>Nodes</key>
				<array>
					<dict>
						<key>Identifier</key>
						<string>in0 </string>
						<key>Property Values</key>
						<array>
							<dict>
								<key>Type</key>
								<string>4char</string>
								<key>Property</key>
								<string>kType</string>
								<key>Value</key>
								<string>io  </string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>Identifier</key>
						<string>mbx0</string>
						<key>Property Values</key>
						<array>
							<dict>
								<key>Type</key>
								<string>4char</string>
								<key>Property</key>
								<string>kType</string>
								<key>Value</key>
								<string>mbox</string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>Identifier</key>
						<string>rms </string>
						<key>Property Values</key>
						<array>
							<dict>
								<key>Type</key>
								<string>4char</string>
								<key>Property</key>
								<string>kType</string>
								<key>Value</key>
								<string>rms </string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>Identifier</key>
						<string>bore</string>
						<key>Property Values</key>
						<array>
							<dict>
								<key>Type</key>
								<string>4char</string>
								<key>Property</key>
								<string>kType</string>
								<key>Value</key>
								<string>call</string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>Identifier</key>
						<string>mca0</string>
						<key>Property Values</key>
						<array>
							<dict>
								<key>Type</key>
								<string>4char</string>
								<key>Property</key>
								<string>kType</string>
								<key>Value</key>
								<string>mcan</string>
							</dict>
						</array>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
</dict>
</plist>
