<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Action</key>
		<integer>0</integer>
		<key>a</key>
		<true/>
		<key>n</key>
		<integer>36</integer>
		<key>l</key>
		<array>
			<string>en</string>
			<string>ar</string>
			<string>he</string>
			<string>ru</string>
			<string>ja</string>
			<string>ko</string>
			<string>zh_cn</string>
			<string>zh_hk</string>
			<string>zh_tw</string>
			<string>da</string>
			<string>tr</string>
			<string>vi</string>
		</array>
	</dict>
	<dict>
		<key>Action</key>
		<integer>0</integer>
		<key>a</key>
		<true/>
		<key>n</key>
		<integer>100</integer>
		<key>l</key>
		<array>
			<string>en</string>
			<string>fr</string>
			<string>es</string>
			<string>it</string>
			<string>de</string>
		</array>
	</dict>
</array>
</plist>
