<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Action</key>
		<integer>0</integer>
		<key>a</key>
		<true/>
		<key>n</key>
		<integer>500</integer>
		<key>l</key>
		<array>
			<string>en</string>
		</array>
	</dict>
	<dict>
		<key>Action</key>
		<integer>0</integer>
		<key>Prevailing</key>
		<true/>
		<key>a</key>
		<true/>
		<key>l</key>
		<array>
			<string>en</string>
		</array>
		<key>e</key>
		<string>500</string>
	</dict>
	<dict>
		<key>Action</key>
		<integer>1</integer>
		<key>Prevailing</key>
		<true/>
		<key>u</key>
		<array>
			<string>birthday</string>
			<string>thumbnail</string>
			<string>phoneNumber</string>
			<string>emailAddress</string>
			<string>note</string>
		</array>
		<key>e</key>
		<string>750</string>
	</dict>
	<dict>
		<key>Action</key>
		<integer>2</integer>
		<key>Prevailing</key>
		<true/>
		<key>d</key>
		<true/>
		<key>e</key>
		<string>1000</string>
	</dict>
</array>
</plist>
