<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>clock domain</key>
	<real>828463360</real>
	<key>hidden</key>
	<false/>
	<key>name</key>
	<string>TestDevice</string>
	<key>ring buffer frame size</key>
	<integer>24576</integer>
	<key>sample rate</key>
	<real>44100</real>
	<key>controls</key>
	<array>
		<dict>
			<key>type</key>
			<string>slider</string>
			<key>scope</key>
			<integer>1735159650</integer>
			<key>value</key>
			<integer>5</integer>
			<key>min</key>
			<integer>0</integer>
			<key>max</key>
			<integer>10</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>level</string>
			<key>subtype</key>
			<string>volume</string>
			<key>scope</key>
			<real>1768845428</real>
			<key>value</key>
			<real>0.6</real>
			<key>curve</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>level</string>
			<key>subtype</key>
			<string>LFE volume</string>
			<key>scope</key>
			<integer>1735159650</integer>
			<key>value</key>
			<real>0.6</real>
			<key>curve</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>level</string>
			<key>scope</key>
			<integer>1735159650</integer>
			<key>value</key>
			<real>0.6</real>
			<key>curve</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>boolean</string>
			<key>subtype</key>
			<string>mute</string>
			<key>scope</key>
			<real>1768845428</real>
			<key>value</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>boolean</string>
			<key>subtype</key>
			<string>solo</string>
			<key>scope</key>
			<real>1768845428</real>
			<key>value</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>boolean</string>
			<key>subtype</key>
			<string>jack</string>
			<key>scope</key>
			<real>1768845428</real>
			<key>value</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>boolean</string>
			<key>subtype</key>
			<string>LFE mute</string>
			<key>scope</key>
			<real>1768845428</real>
			<key>value</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>boolean</string>
			<key>subtype</key>
			<string>phantom</string>
			<key>scope</key>
			<real>1768845428</real>
			<key>value</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>boolean</string>
			<key>subtype</key>
			<string>phase invert</string>
			<key>scope</key>
			<real>1768845428</real>
			<key>value</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>selector</string>
			<key>scope</key>
			<integer>1735159650</integer>
			<key>items</key>
			<array>
				<dict>
					<key>name</key>
					<string>odds</string>
					<key>kind</key>
					<integer>0</integer>
					<key>selected</key>
					<true/>
				</dict>
				<dict>
					<key>name</key>
					<string>evens</string>
					<key>kind</key>
					<integer>0</integer>
					<key>selected</key>
					<false/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>type</key>
			<string>stereo pan</string>
			<key>scope</key>
			<real>1768845428</real>
			<key>value</key>
			<real>0.5</real>
			<key>channel A</key>
			<integer>1</integer>
			<key>channel B</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>streams</key>
	<array>
		<dict>
			<key>basic description</key>
			<dict>
				<key>bits per channel</key>
				<integer>32</integer>
				<key>bytes per frame</key>
				<integer>8</integer>
				<key>bytes per packet</key>
				<integer>8</integer>
				<key>channels per frame</key>
				<integer>2</integer>
				<key>format flags</key>
				<integer>9</integer>
				<key>format id</key>
				<integer>1819304813</integer>
				<key>frames per packet</key>
				<integer>1</integer>
				<key>sample rate</key>
				<real>44100</real>
			</dict>
			<key>is input</key>
			<integer>0</integer>
			<key>latency</key>
			<integer>0</integer>
			<key>supported formats</key>
			<array>
				<dict>
					<key>bits per channel</key>
					<integer>32</integer>
					<key>bytes per frame</key>
					<integer>8</integer>
					<key>bytes per packet</key>
					<integer>8</integer>
					<key>channels per frame</key>
					<integer>2</integer>
					<key>format flags</key>
					<integer>9</integer>
					<key>format id</key>
					<integer>1819304813</integer>
					<key>frames per packet</key>
					<integer>1</integer>
					<key>max sample rate</key>
					<integer>0</integer>
					<key>min sample rate</key>
					<integer>0</integer>
					<key>sample rate</key>
					<real>96000</real>
				</dict>
				<dict>
					<key>bits per channel</key>
					<integer>32</integer>
					<key>bytes per frame</key>
					<integer>8</integer>
					<key>bytes per packet</key>
					<integer>8</integer>
					<key>channels per frame</key>
					<integer>2</integer>
					<key>format flags</key>
					<integer>9</integer>
					<key>format id</key>
					<integer>1819304813</integer>
					<key>frames per packet</key>
					<integer>1</integer>
					<key>max sample rate</key>
					<integer>0</integer>
					<key>min sample rate</key>
					<integer>0</integer>
					<key>sample rate</key>
					<real>88200</real>
				</dict>
				<dict>
					<key>bits per channel</key>
					<integer>32</integer>
					<key>bytes per frame</key>
					<integer>8</integer>
					<key>bytes per packet</key>
					<integer>8</integer>
					<key>channels per frame</key>
					<integer>2</integer>
					<key>format flags</key>
					<integer>9</integer>
					<key>format id</key>
					<integer>1819304813</integer>
					<key>frames per packet</key>
					<integer>1</integer>
					<key>max sample rate</key>
					<integer>0</integer>
					<key>min sample rate</key>
					<integer>0</integer>
					<key>sample rate</key>
					<real>48000</real>
				</dict>
				<dict>
					<key>bits per channel</key>
					<integer>32</integer>
					<key>bytes per frame</key>
					<integer>8</integer>
					<key>bytes per packet</key>
					<integer>8</integer>
					<key>channels per frame</key>
					<integer>2</integer>
					<key>format flags</key>
					<integer>9</integer>
					<key>format id</key>
					<integer>1819304813</integer>
					<key>frames per packet</key>
					<integer>1</integer>
					<key>max sample rate</key>
					<integer>0</integer>
					<key>min sample rate</key>
					<integer>0</integer>
					<key>sample rate</key>
					<real>44100</real>
				</dict>
			</array>
			<key>terminal type</key>
			<integer>769</integer>
		</dict>
		<dict>
			<key>basic description</key>
			<dict>
				<key>bits per channel</key>
				<integer>32</integer>
				<key>bytes per frame</key>
				<integer>8</integer>
				<key>bytes per packet</key>
				<integer>8</integer>
				<key>channels per frame</key>
				<integer>2</integer>
				<key>format flags</key>
				<integer>9</integer>
				<key>format id</key>
				<integer>1819304813</integer>
				<key>frames per packet</key>
				<integer>1</integer>
				<key>sample rate</key>
				<real>44100</real>
			</dict>
			<key>is input</key>
			<integer>1</integer>
			<key>latency</key>
			<integer>0</integer>
			<key>supported formats</key>
			<array>
				<dict>
					<key>bits per channel</key>
					<integer>32</integer>
					<key>bytes per frame</key>
					<integer>8</integer>
					<key>bytes per packet</key>
					<integer>8</integer>
					<key>channels per frame</key>
					<integer>2</integer>
					<key>format flags</key>
					<integer>9</integer>
					<key>format id</key>
					<integer>1819304813</integer>
					<key>frames per packet</key>
					<integer>1</integer>
					<key>max sample rate</key>
					<integer>0</integer>
					<key>min sample rate</key>
					<integer>0</integer>
					<key>sample rate</key>
					<real>96000</real>
				</dict>
				<dict>
					<key>bits per channel</key>
					<integer>32</integer>
					<key>bytes per frame</key>
					<integer>8</integer>
					<key>bytes per packet</key>
					<integer>8</integer>
					<key>channels per frame</key>
					<integer>2</integer>
					<key>format flags</key>
					<integer>9</integer>
					<key>format id</key>
					<integer>1819304813</integer>
					<key>frames per packet</key>
					<integer>1</integer>
					<key>max sample rate</key>
					<integer>0</integer>
					<key>min sample rate</key>
					<integer>0</integer>
					<key>sample rate</key>
					<real>88200</real>
				</dict>
				<dict>
					<key>bits per channel</key>
					<integer>32</integer>
					<key>bytes per frame</key>
					<integer>8</integer>
					<key>bytes per packet</key>
					<integer>8</integer>
					<key>channels per frame</key>
					<integer>2</integer>
					<key>format flags</key>
					<integer>9</integer>
					<key>format id</key>
					<integer>1819304813</integer>
					<key>frames per packet</key>
					<integer>1</integer>
					<key>max sample rate</key>
					<integer>0</integer>
					<key>min sample rate</key>
					<integer>0</integer>
					<key>sample rate</key>
					<real>48000</real>
				</dict>
				<dict>
					<key>bits per channel</key>
					<integer>32</integer>
					<key>bytes per frame</key>
					<integer>8</integer>
					<key>bytes per packet</key>
					<integer>8</integer>
					<key>channels per frame</key>
					<integer>2</integer>
					<key>format flags</key>
					<integer>9</integer>
					<key>format id</key>
					<integer>1819304813</integer>
					<key>frames per packet</key>
					<integer>1</integer>
					<key>max sample rate</key>
					<integer>0</integer>
					<key>min sample rate</key>
					<integer>0</integer>
					<key>sample rate</key>
					<real>44100</real>
				</dict>
			</array>
			<key>terminal type</key>
			<integer>513</integer>
		</dict>
	</array>
	<key>custom</key>
	<array>
		<dict>
			<key>selector</key>
			<integer>2345678901</integer>
			<key>scope</key>
			<integer>1735159650</integer>
			<key>element</key>
			<integer>0</integer>
			<key>type</key>
			<string>int</string>
			<key>settable</key>
			<true/>
			<key>requires set request</key>
			<false/>
			<key>data</key>
			<integer>365</integer>
		</dict>
		<dict>
			<key>selector</key>
			<integer>3456789012</integer>
			<key>scope</key>
			<integer>1735159650</integer>
			<key>element</key>
			<integer>0</integer>
			<key>type</key>
			<string>float</string>
			<key>settable</key>
			<false/>
			<key>requires set request</key>
			<false/>
			<key>data</key>
			<real>3.14159</real>
		</dict>
		<dict>
			<key>selector</key>
			<real>456789012</real>
			<key>scope</key>
			<integer>1735159650</integer>
			<key>element</key>
			<integer>0</integer>
			<key>type</key>
			<string>string</string>
			<key>settable</key>
			<true/>
			<key>requires set request</key>
			<true/>
			<key>data</key>
			<string>hello</string>
		</dict>
		<dict>
			<key>selector</key>
			<real>567890123</real>
			<key>scope</key>
			<integer>1735159650</integer>
			<key>element</key>
			<integer>0</integer>
			<key>type</key>
			<string>dictionary</string>
			<key>settable</key>
			<false/>
			<key>requires set request</key>
			<false/>
			<key>data</key>
			<dict>
				<key>a</key>
				<string>bc</string>
				<key>d</key>
				<string>ef</string>
			</dict>
		</dict>
		<dict>
			<key>selector</key>
			<integer>678901234</integer>
			<key>scope</key>
			<integer>1735159650</integer>
			<key>element</key>
			<integer>0</integer>
			<key>type</key>
			<string>array</string>
			<key>settable</key>
			<false/>
			<key>requires set request</key>
			<false/>
			<key>data</key>
			<array>
				<string>apple</string>
				<string>banana</string>
			</array>
		</dict>
	</array>
	<key>transport type</key>
	<real>1651274862</real>
	<key>preferred channel stereo L</key>
	<integer>1</integer>
	<key>preferred channel stereo R</key>
	<integer>2</integer>
	<key>can be content default</key>
	<true/>
	<key>can be system default</key>
	<true/>
	<key>safety offset</key>
	<integer>0</integer>
	<key>supports catchup mode</key>
	<true/>
	<key>frames to save</key>
	<integer>1000</integer>
</dict>
</plist>
