<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MobileGestalt Test</key>
	<dict>
		<key>Property Test</key>
		<array>
			<dict>
				<key>Type</key>
				<string>BOOL</string>
				<key>Property</key>
				<string>kMGQDeviceSupportsClosedLoopHaptics</string>
				<key>Value</key>
				<true/>
			</dict>
			<dict>
				<key>Type</key>
				<string>BOOL</string>
				<key>Property</key>
				<string>kMGQDeviceSupports3rdPartyHaptics</string>
				<key>Value</key>
				<true/>
			</dict>
			<dict>
				<key>Type</key>
				<string>Number</string>
				<key>Property</key>
				<string>kMGQMicrophoneCount</string>
				<key>Value</key>
				<integer>4</integer>
			</dict>
			<dict>
				<key>Type</key>
				<string>BOOL</string>
				<key>Property</key>
				<string>kMGQDeviceSupportsAlwaysListening</string>
				<key>Value</key>
				<true/>
			</dict>
			<dict>
				<key>Type</key>
				<string>BOOL</string>
				<key>Property</key>
				<string>kMGQDeviceSupportsStereoAudioRecording</string>
				<key>Value</key>
				<true/>
			</dict>
		</array>
	</dict>
	<key>AOPNode Test</key>
	<dict>
		<key>AOPUID</key>
		<string>AOP Audio-1</string>
		<key>Enumeration Test</key>
		<array>
			<dict>
				<key>Client Identifier</key>
				<string>acmm</string>
				<key>Nodes</key>
				<array>
					<dict>
						<key>Identifier</key>
						<string>mck0</string>
						<key>Property Values</key>
						<array>
							<dict>
								<key>Type</key>
								<string>4char</string>
								<key>Property</key>
								<string>kType</string>
								<key>Value</key>
								<string>mcan</string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>Identifier</key>
						<string>cmck</string>
						<key>Property Values</key>
						<array>
							<dict>
								<key>Type</key>
								<string>4char</string>
								<key>Property</key>
								<string>kType</string>
								<key>Value</key>
								<string>audn</string>
							</dict>
						</array>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Client Identifier</key>
				<string>apac</string>
				<key>Nodes</key>
				<array>
					<dict>
						<key>Identifier</key>
						<string>mck0</string>
						<key>Property Values</key>
						<array>
							<dict>
								<key>Type</key>
								<string>4char</string>
								<key>Property</key>
								<string>kType</string>
								<key>Value</key>
								<string>mcan</string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>Identifier</key>
						<string>mck1</string>
						<key>Property Values</key>
						<array>
							<dict>
								<key>Type</key>
								<string>4char</string>
								<key>Property</key>
								<string>kType</string>
								<key>Value</key>
								<string>mcan</string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>Identifier</key>
						<string>asp2</string>
						<key>Property Values</key>
						<array>
							<dict>
								<key>Type</key>
								<string>4char</string>
								<key>Property</key>
								<string>kType</string>
								<key>Value</key>
								<string>audn</string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>Identifier</key>
						<string>cmck</string>
						<key>Property Values</key>
						<array>
							<dict>
								<key>Type</key>
								<string>4char</string>
								<key>Property</key>
								<string>kType</string>
								<key>Value</key>
								<string>audn</string>
							</dict>
						</array>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Client Identifier</key>
				<string>aph </string>
				<key>Nodes</key>
				<array>
					<dict>
						<key>Identifier</key>
						<string>hpdt</string>
						<key>Property Values</key>
						<array>
							<dict>
								<key>Type</key>
								<string>4char</string>
								<key>Property</key>
								<string>kType</string>
								<key>Value</key>
								<string>lpdc</string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>Identifier</key>
						<string>mck1</string>
						<key>Property Values</key>
						<array>
							<dict>
								<key>Type</key>
								<string>4char</string>
								<key>Property</key>
								<string>kType</string>
								<key>Value</key>
								<string>mcan</string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>Identifier</key>
						<string>mck0</string>
						<key>Property Values</key>
						<array>
							<dict>
								<key>Type</key>
								<string>4char</string>
								<key>Property</key>
								<string>kType</string>
								<key>Value</key>
								<string>mcan</string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>Identifier</key>
						<string>asp2</string>
						<key>Property Values</key>
						<array>
							<dict>
								<key>Type</key>
								<string>4char</string>
								<key>Property</key>
								<string>kType</string>
								<key>Value</key>
								<string>audn</string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>Identifier</key>
						<string>cmck</string>
						<key>Property Values</key>
						<array>
							<dict>
								<key>Type</key>
								<string>4char</string>
								<key>Property</key>
								<string>kType</string>
								<key>Value</key>
								<string>audn</string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>Identifier</key>
						<string>apsr</string>
						<key>Property Values</key>
						<array>
							<dict>
								<key>Type</key>
								<string>4char</string>
								<key>Property</key>
								<string>kType</string>
								<key>Value</key>
								<string>pmsr</string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>Identifier</key>
						<string>leap</string>
						<key>Property Values</key>
						<array>
							<dict>
								<key>Type</key>
								<string>4char</string>
								<key>Property</key>
								<string>kType</string>
								<key>Value</key>
								<string>leap</string>
							</dict>
						</array>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Client Identifier</key>
				<string>aphd</string>
				<key>Nodes</key>
				<array>
					<dict>
						<key>Identifier</key>
						<string>hddt</string>
						<key>Property Values</key>
						<array>
							<dict>
								<key>Type</key>
								<string>4char</string>
								<key>Property</key>
								<string>kType</string>
								<key>Value</key>
								<string>lpdc</string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>Identifier</key>
						<string>mck1</string>
						<key>Property Values</key>
						<array>
							<dict>
								<key>Type</key>
								<string>4char</string>
								<key>Property</key>
								<string>kType</string>
								<key>Value</key>
								<string>mcan</string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>Identifier</key>
						<string>mck0</string>
						<key>Property Values</key>
						<array>
							<dict>
								<key>Type</key>
								<string>4char</string>
								<key>Property</key>
								<string>kType</string>
								<key>Value</key>
								<string>mcan</string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>Identifier</key>
						<string>asp2</string>
						<key>Property Values</key>
						<array>
							<dict>
								<key>Type</key>
								<string>4char</string>
								<key>Property</key>
								<string>kType</string>
								<key>Value</key>
								<string>audn</string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>Identifier</key>
						<string>cmck</string>
						<key>Property Values</key>
						<array>
							<dict>
								<key>Type</key>
								<string>4char</string>
								<key>Property</key>
								<string>kType</string>
								<key>Value</key>
								<string>audn</string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>Identifier</key>
						<string>apsr</string>
						<key>Property Values</key>
						<array>
							<dict>
								<key>Type</key>
								<string>4char</string>
								<key>Property</key>
								<string>kType</string>
								<key>Value</key>
								<string>pmsr</string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>Identifier</key>
						<string>leap</string>
						<key>Property Values</key>
						<array>
							<dict>
								<key>Type</key>
								<string>4char</string>
								<key>Property</key>
								<string>kType</string>
								<key>Value</key>
								<string>leap</string>
							</dict>
						</array>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Client Identifier</key>
				<string>aphc</string>
				<key>Nodes</key>
				<array>
					<dict>
						<key>Identifier</key>
						<string>hpct</string>
						<key>Property Values</key>
						<array>
							<dict>
								<key>Type</key>
								<string>4char</string>
								<key>Property</key>
								<string>kType</string>
								<key>Value</key>
								<string>lpth</string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>Identifier</key>
						<string>mck1</string>
						<key>Property Values</key>
						<array>
							<dict>
								<key>Type</key>
								<string>4char</string>
								<key>Property</key>
								<string>kType</string>
								<key>Value</key>
								<string>mcan</string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>Identifier</key>
						<string>mck0</string>
						<key>Property Values</key>
						<array>
							<dict>
								<key>Type</key>
								<string>4char</string>
								<key>Property</key>
								<string>kType</string>
								<key>Value</key>
								<string>mcan</string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>Identifier</key>
						<string>asp2</string>
						<key>Property Values</key>
						<array>
							<dict>
								<key>Type</key>
								<string>4char</string>
								<key>Property</key>
								<string>kType</string>
								<key>Value</key>
								<string>audn</string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>Identifier</key>
						<string>cmck</string>
						<key>Property Values</key>
						<array>
							<dict>
								<key>Type</key>
								<string>4char</string>
								<key>Property</key>
								<string>kType</string>
								<key>Value</key>
								<string>audn</string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>Identifier</key>
						<string>apsr</string>
						<key>Property Values</key>
						<array>
							<dict>
								<key>Type</key>
								<string>4char</string>
								<key>Property</key>
								<string>kType</string>
								<key>Value</key>
								<string>pmsr</string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>Identifier</key>
						<string>leap</string>
						<key>Property Values</key>
						<array>
							<dict>
								<key>Type</key>
								<string>4char</string>
								<key>Property</key>
								<string>kType</string>
								<key>Value</key>
								<string>leap</string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>Identifier</key>
						<string>arc </string>
						<key>Property Values</key>
						<array>
							<dict>
								<key>Type</key>
								<string>4char</string>
								<key>Property</key>
								<string>kType</string>
								<key>Value</key>
								<string>amp </string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>Identifier</key>
						<string>sknt</string>
						<key>Property Values</key>
						<array>
							<dict>
								<key>Type</key>
								<string>4char</string>
								<key>Property</key>
								<string>kType</string>
								<key>Value</key>
								<string>hall</string>
							</dict>
						</array>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Client Identifier</key>
				<string>ahdc</string>
				<key>Nodes</key>
				<array>
					<dict>
						<key>Identifier</key>
						<string>mck1</string>
						<key>Property Values</key>
						<array>
							<dict>
								<key>Type</key>
								<string>4char</string>
								<key>Property</key>
								<string>kType</string>
								<key>Value</key>
								<string>mcan</string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>Identifier</key>
						<string>mck0</string>
						<key>Property Values</key>
						<array>
							<dict>
								<key>Type</key>
								<string>4char</string>
								<key>Property</key>
								<string>kType</string>
								<key>Value</key>
								<string>mcan</string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>Identifier</key>
						<string>asp2</string>
						<key>Property Values</key>
						<array>
							<dict>
								<key>Type</key>
								<string>4char</string>
								<key>Property</key>
								<string>kType</string>
								<key>Value</key>
								<string>audn</string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>Identifier</key>
						<string>cmck</string>
						<key>Property Values</key>
						<array>
							<dict>
								<key>Type</key>
								<string>4char</string>
								<key>Property</key>
								<string>kType</string>
								<key>Value</key>
								<string>audn</string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>Identifier</key>
						<string>apsr</string>
						<key>Property Values</key>
						<array>
							<dict>
								<key>Type</key>
								<string>4char</string>
								<key>Property</key>
								<string>kType</string>
								<key>Value</key>
								<string>pmsr</string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>Identifier</key>
						<string>leap</string>
						<key>Property Values</key>
						<array>
							<dict>
								<key>Type</key>
								<string>4char</string>
								<key>Property</key>
								<string>kType</string>
								<key>Value</key>
								<string>leap</string>
							</dict>
						</array>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
</dict>
</plist>
