<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>N104</key>
	<string>N104</string>
	<key>D52g</key>
	<string>D5x</string>
	<key>D53g</key>
	<string>D5x</string>
	<key>D53p</key>
	<string>D5x</string>
	<key>D54p</key>
	<string>D5x</string>
	<key>D431</key>
	<string>N104</string>
	<key>D421</key>
	<string>N104</string>
	<key>J317</key>
	<string>J317</string>
	<key>J318</key>
	<string>J317</string>
	<key>J320</key>
	<string>J317</string>
	<key>N131b</key>
	<string>N131</string>
	<key>N131s</key>
	<string>N131</string>
	<key>N141b</key>
	<string>N131</string>
	<key>N141s</key>
	<string>N131</string>
	<key>N144b</key>
	<string>N144</string>
	<key>N144s</key>
	<string>N144</string>
	<key>N146b</key>
	<string>N144</string>
	<key>N146s</key>
	<string>N144</string>
	<key>D79</key>
	<string>D79</string>
	<key>N157s</key>
	<string>N157s_N157b_N158s_N158b</string>
	<key>N157b</key>
	<string>N157s_N157b_N158s_N158b</string>
	<key>N158s</key>
	<string>N157s_N157b_N158s_N158b</string>
	<key>N158b</key>
	<string>N157s_N157b_N158s_N158b</string>
</dict>
</plist>
