<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MobileGestalt Test</key>
	<dict>
		<key>Property Test</key>
		<array>
			<dict>
				<key>Type</key>
				<string>BOOL</string>
				<key>Property</key>
				<string>kMGQDeviceSupportsClosedLoopHaptics</string>
				<key>Value</key>
				<true/>
			</dict>
			<dict>
				<key>Type</key>
				<string>BOOL</string>
				<key>Property</key>
				<string>kMGQDeviceSupportsAlwaysListening</string>
				<key>Value</key>
				<false/>
			</dict>
			<dict>
				<key>Type</key>
				<string>BOOL</string>
				<key>Property</key>
				<string>kMGQWatchSupportsListeningOnGesture</string>
				<key>Value</key>
				<true/>
			</dict>
			<dict>
				<key>Type</key>
				<string>BOOL</string>
				<key>Property</key>
				<string>kMGQDeviceSupports3rdPartyHaptics</string>
				<key>Value</key>
				<false/>
			</dict>
		</array>
	</dict>
</dict>
</plist>
